*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/gradle
/gradle
/app/debug
/app/build
/daemon
app/build.txt
app.zip
app/src/main.txt
Hud_build/
HUD_DEAD_ENDS.md
HUD_WORKING_CONSPECT.md
